<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Workout Stats - Edit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="global.css">
</head>
<body>
	<div class="container">
		<a class="btn btn-default topRight" href="/workout-stats/index.html">Home</a>
		<h3>Workout Stats - Edit</h3>

		<div ng-app="myApp">
			<div ng-controller="WorkoutCtrl as workoutCtrl">
				<table class="table exercises">
					<tbody>
						<tr ng-repeat="exercise in workoutCtrl.workout.exercises">
							<td>
								<h5>Exercise {{$index + 1}}</h5>
								<div class="input-group">
									<input type="text" ng-change="workoutCtrl.change()" class="form-control" ng-model="exercise.name">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="button" ng-click="workoutCtrl.remove(exercise)">Remove</button>
									</span>
								</div>
								<div class="form-inline">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-addon">Bar weight:</div>
											<input type="text" class="form-control" ng-model="exercise.bar" placeholder="45 by default">
											<div class="input-group-addon">lbs</div>
										</div>
									</div>
								</form>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-primary addNew" type="button" ng-click="workoutCtrl.addNew()">Add exercise</button>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular.min.js"></script>
	<script src="global.js"></script>
</body>
</html>
